
.Board {
  height: 100%;
  width: 100%;
}

.moves-btn {
    padding:7px 17px;
  font-weight: 400;
  line-height:normal;
  border-radius:0.1875rem;
  font-size: 1rem;
  background: red;
  translate: transform(-50%,-50%);
  cursor:pointer;
  transition:background 0.2s ease-in;
  margin:10px 10px;
}

.cards-list {
	margin:0px 270px;
	padding:0;
	list-style: none;
	position: relative;
	
}
li {
	float: left;
	width: 25%;
	height: 33%;
	padding:0px 0px 10px 0px;
}
h1 {
  font-size: 20px
}

@media only screen and (max-width: 600px) {
	.cards-list {
	margin:0px 10px ;
	
}
h1 {
  font: 14px;
}
}