.flip-container {
  display: inline-block;
  border:1px solid white;
  background: black;
}

.flip-container.flipped .flipper {
  transform: rotate(180deg);
}

.flipper {
  transform: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  z-index: 2;
  transform: rotate(0deg);
}

.front {
  transform: rotate(180deg);
}